NET "F50MHz" LOC = "B8" ; #F50MHz
NET "AN<0>" LOC = "F17" ; #AN0
NET "AN<1>" LOC = "H17" ; #AN1
NET "AN<2>" LOC = "C18" ; #AN2
NET "AN<3>" LOC = "F15" ; #AN3
NET "BTN0" LOC = "B18" ; #RESET
NET "BTN1" LOC = "D18" ; #
#NET "BTN2" LOC = "E18" ; #
#NET "BTN3" LOC = "H13" ; #
NET "LED0" LOC = "J14" ; #!LOAD from M2_1
#NET " LED1" LOC = "J15" ; #LD1
#NET " LED2" LOC = "K15" ; #LD2
#NET " LED3" LOC = "K14" ; #LD3
#NET " LED4" LOC = "E17" ; #LD4
#NET " LED5" LOC = "P15" ; #LD5
#NET " LED6" LOC = "F4" ; #LD6
#NET " LED7" LOC = "R4" ; #LD7
NET "seg<0>" LOC = "L18" ; #CA
NET "seg<1>" LOC = "F18" ; #CB
NET "seg<2>" LOC = "D17" ; #CC
NET "seg<3>" LOC = "D16" ; #CD
NET "seg<4>" LOC = "G14" ; #CE
NET "seg<5>" LOC = "J17" ; #CF
NET "seg<6>" LOC = "H14" ; #CG
NET "seg_P" LOC = "C17" ; #CP
NET "SW<0>" LOC = "G18" ; # Adr[0] MUX
NET "SW<1>" LOC = "H18" ; # Adr[1] MUX
NET "SW<2>" LOC = "K18" ; #SO (M2_1)
#NET "SW<3>" LOC = "K17" ; #PTR[0]
#NET "SW<4>" LOC = "L14" ; #PTR[1]
#NET "SW<5>" LOC = "L13" ; #SWT5
#NET "SW<6>" LOC = "N17" ; #SWT6
#NET "SW<7>" LOC = "R17" ; #SWT7
#NET "RXD" LOC = "U6" ; #TXD U6
#NET "TXD" LOC = "P9" ; #TXD P9
NET "JA1" LOC = "L15" ; #
NET "JA2" LOC = "K12" ; #
NET "JA3" LOC = "L17" ; #
#NET "JA4" LOC = "M15" ; #
#NET "JA7" LOC = "K13" ; #
#NET "JA8" LOC = "L16" ; #
#NET "JA9" LOC = "M14" ; #
#NET "JA10" LOC = "M16" ; #
NET "JB1" LOC = "M13" ; # MOSI (out MASTER)
NET "JB2" LOC = "R18" ; # SCLK (out MASTER)
NET "JB3" LOC = "R15" ; # LOAD (out MASTER)
#NET "JB4" LOC = "T17" ; # MISO (input MASTER)
NET "JB7" LOC = "P17" ; #
#NET "JB8" LOC = "R16" ; #
#NET "JB9" LOC = "T18" ; #
#NET " JB10" LOC = "U18" ; #
NET "JC1" LOC = "G15" ; # input LOAD to M2_1
NET "JC2" LOC = "J16" ; # st
NET "JC3" LOC = "G13" ; # ce_tact
NET "JC4" LOC = "H16" ; # ce1ms
#NET "JC7" LOC = "H15" ; #
#NET "JC8" LOC = "F14" ; #
#NET "JC9" LOC = "G16" ; #
#NET "JC10" LOC = "J12" ; #
#NET "JD1" LOC = "J13" ; #
#NET "JD2" LOC = "M18" ; #
#NET "JD3" LOC = "N18" ; #
#NET "JD4" LOC = "P18" ; # en_tx (SYNHR OSC)
#NET "JD7" LOC = "K14" ; #
#NET "JD8" LOC = "K15" ; #
#NET "JD9" LOC = "J15" ; #
#NET "JD10" LOC = "J14" ; #